.home {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex: 1;
  gap: 40px;
  margin: 0 10px 10px;
  border-radius: 15px;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    var(--blue-700),
    var(--blue-200)
  );
}
.header__container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.search-button {
  background-color: rgba(10, 145, 223, 0.884);
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 15px;
  margin-bottom: -25px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.search-button:hover {
  background-color: rgba(5, 85, 131, 0.884);
  text-decoration: none;
}
